{% extends "base.html" %}
{% load article_tags %}
{% load staticfiles %}
{% block title %}作者文章{% endblock %}
{% block content %}
<div class="row text-center vertical-middle-sm">
    <h1>发现你的美！</h1>
    <p>标签<span style="font-size:26px;color:red;">“{{tag_filter}}”</span>相关的文章共有{{articles_count }}篇：</p>
</div>
<link href="{% static 'css/fontawesome-free-5.8.1-web/css/all.min.css' %}" rel="stylesheet">
<link href="{% static 'Hover-master/css/hover-min.css' %}" rel="stylesheet">
<div class="container">
    <div class="col-md-8">
        {% for article in articles %}
<!--             <div class="list-group">-->
<!--                 <a href="{{article.get_url_path}}" class="list-group-item active">-->
<!--                    <h4 class="list-group-item-heading">{{article.title}}</h4>-->
<!--                 </a>-->
<!--                 <p class="list-group-item-text">作者：<a href="{% url 'article:author_articles' article.author.username %}">{{article.author.username}}</a></p>-->
<!--                 <p class="list-group-item-text">概要：{{article.body|slice:'70'|linebreaks}}</p>-->
<!--             </div>-->
        <div class="list-group-item hvr-glow" style="width:100%;border-color:LightGrey ;margin-top:15px;border-top-left-radius:5px;border-top-right-radius:5px;border-bottom-left-radius:5px;border-bottom-right-radius:5px;background-color:white ;">
        <a href="{{article.get_url_path}}" class="list-group-item  active" style="width：100%；margin-top:10px;margin-left: 0px;background-color:white ;border:none; border-top-left-radius:10px;border-top-right-radius:10px;border-bottom-left-radius:10px;border-bottom-right-radius:10px; "  >
            <h3 class="list-group-item-heading hvr-forward"  style="color:black;">{{article.title}}</h3>
        </a>
        <!--<p class="list-group-item-text" style="margin-top:10px"><a href="{% url 'article:author_articles' article.author.username %}" style="color:white ;"  class="badge badge-info">{{article.author.username}}</a></p>-->
        <!--<p class="list-group-item-text" style="margin-top:10px">概要：{{article.body|slice:'70'|linebreaks}}</p>-->
        <p style="margin-left: 10px;margin-top:10px;"><span><a href="{% url 'article:column_filter' article.column.column %}" style="color:LightGreen   ;border:solid;background-color:White;height:30px;" class="label label-default hvr-grow-shadow">{{article.column.column}}</a></span>
         {% for tag in article.article_tag.all %}
              <span><a href="{% url 'article:tag_filter'  tag.tag %}" style="color:Gray  ;background-color:GhostWhite ;height:16px;" class="badge badge-light hvr-float-shadow">{{tag.tag}}</a></span>
         {% endfor %}
        </p>
    <p class="list-group-item-text text-muted" style="margin-top:10px"> <span style="margin-left: 10px;color:#6495ED;"><a href="{% url 'article:author_articles' article.author.username %}" class="hvr-icon-buzz" style="margin-right:8px;color:#6495ED;" ><i style="margin-right:4px;color:#6495ED;" class="fas fa-user hvr-icon"></i>{{article.author.username}}</a><i style="margin-left:8px;margin-right:8px;color:DeepSkyBlue    ;" class="fas fa-eye"></i>{% dict_template all_views article %}<i style="margin-left:20px;margin-right:8px;color:LawnGreen  ;" class="fas fa-comments"><i style="margin-left:8px;">{% dict_template all_comments article %}</i></i></span><span style="margin-left:20px"><i style="margin-right:8px;color:#CD5C5C;" class="fas fa-thumbs-up"></i><i  style="margin-right:8px;color:#CD5C5C;">{{article.users_like.count}}</i></span><i class="fas fa-clock" style="margin-left: 20px;color:#6FB7B7	;"><i style="margin-left:8px;">{% create_time article %}</i></i></p>
    </div>
        {% endfor %}
        {% include "paginator.html" %}
    </div>

</div>
{% endblock %}