{% extends "base.html" %}
{% block title %}编辑个人信息{% endblock %}
{% block content %}
<div class="row text-center vertical-middle-sm">
    <h1>编辑个人信息</h1>
    <div class="row">
        <div class="col-md-6">
            <form class="form-horizontal" action="." method="post">{% csrf_token %}
                <div class="row" style="margin-right:10px;margin-top:20px">
                    <div class="col-md-4 text-center"><span >昵称:</span></div>
                    <div class="col-md-8 text-center">{{ user.username }}</div>
                </div>
                <div class="row" style="margin-right:10px;margin-top:20px">
                    <div class="col-md-4 text-center"><span>邮箱:</span></div>
                    <div class="col-md-8 text-center">{{ user_form.email }}</div>
                    <span id="feedback_email" class="glyphicon glyphicon-ok col-md-3 " style="color:green;margin-left:0px;margin-top:6px;display: none;"></span>
                </div>
                <div class="row" style="margin-right:10px;margin-top:20px">
                    <div class="col-md-4 text-center"><span>生日:</span></div>
                    <div class="col-md-8 text-center">{{ userprofile_form.birth }}</div>
                    <span id="feedback_birthday" class="glyphicon glyphicon-remove col-md-3" style="color:green;margin-top:3px;display: none;"></span>
                </div>
                <div class="row" style="margin-right:10px;margin-top:20px">
                    <div class="col-md-4 text-center"><span>电话:</span></div>
                    <div class="col-md-8 text-center">{{ userprofile_form.phone }}</div>
                    <span id="feedback_phone" class="glyphicon glyphicon-ok col-md-3" style="color:green;margin-top:3px;display: none;"></span>
                </div>
                <div class="row" style="margin-right:10px;margin-top:20px">
                    <div class="col-md-4 text-center"><span>毕业院校:</span></div>
                    <div class="col-md-8 text-center">{{ userinfo_form.school }}</div>
                </div>
                <div class="row" style="margin-right:10px;margin-top:20px">
                    <div class="col-md-4 text-center"><span>单位:</span></div>
                    <div class="col-md-8 text-center">{{ userinfo_form.company }}</div>
                </div>
                <div class="row" style="margin-right:10px;margin-top:20px">
                    <div class="col-md-4 text-center"><span>专业:</span></div>
                    <div class="col-md-8 text-center">{{ userinfo_form.profession }}</div>
                </div>
                <div class="row" style="margin-right:10px;margin-top:20px">
                    <div class="col-md-4 text-center"><span>住址:</span></div>
                    <div class="col-md-8 text-center">{{ userinfo_form.address }}</div>
                </div>
                <div class="row" style="margin-right:10px;margin-top:20px">
                    <div class="col-md-4 text-center"><span>个人介绍:</span></div>
                    <div class="col-md-8 text-center">{{ userinfo_form.aboutme }}</div>
                </div>
                <div class="row" style="margin-right:10px;margin-top:20px">
                    <input type="submit" class="btn btn-primary btn-lg" value="确认">
                </div>
            </form>
        </div>
        <div class="col-md-6">
            <p style="margin-right:10px;margin-top:20px"></p>
            {% load staticfiles %}
            <div style="margin-right:10px;margin-top:20px">
                 {% load staticfiles %}
                <div style="margin-right:10px">
                    {% if userinfo.photo_url %}
                        <img name="userface" src="{{ userinfo.photo_url | striptags }}" class="img-circle" width="270px" id="my_photo">
                    {% else %}
                        <img name="userface" src="{% static 'images/mingren.jpeg' %}" class="img-circle" width="270px" id="my_photo">
                    {% endif %}
                </div>
                <div style="margin-right:10px;margin-top:20px"><button class="btn btn-primary btn-lg" id="upload_image" onclick="upload_image_layer()">更换头像</button> </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src='{% static "js/jquery.js" %}'></script>
<script type="text/javascript" src='{% static "js/layer.js" %}'></script>
<script>
    function upload_image_layer(){
      var index = layer.open({
        //content:"<p>hello world</p>",
        title: "上传头像",
        area: ['850px', '600px'],
        type: 2,
        content:"{% url 'account:my_image' %}",
        success: function(layero, index) {
                  layer.iframeAuto(index);
                  },
        });
        }
</script>
<script type="text/javascript">
    function isNULL( chars ) {
  if (chars == null)
    return true;
  if ($.trim(chars).length==0)
    return true;
  return false;
}

function isEmail(str){
    var re=/^\w+((-\w+)|(\.\w+))*\@[A-Za-z0-9]+((\.|-)[A-Za-z0-9]+)*\.[A-Za-z0-9]+$/;
  if (re.test(str) != true) {
    return false;
  }else{
    return true;
  }
}
           var newObject = document.createElement("p");
           newObject.id = "tip";
           newObject.innerHTML = "";
           newObject.align = "center";
           newObject.setAttribute("style", "font-size:15px;color:red;margin-top:5px;");
           newObject.className = "col-md-3";
           $("#feedback_email").after(newObject);
    function check_email(v){
        $(function() {

           if(isNULL(v))
           {$("#feedback_email").attr("class", 'glyphicon glyphicon-remove col-md-1');
            $("#feedback_email").css("color", 'red');
            $("#feedback_email").css("display", '');
            newObject.innerHTML = "请输入您的邮箱！";

            }

           else if(isEmail(v)){
            $("#feedback_email").attr("class", 'glyphicon glyphicon-ok col-md-1');
            $("#feedback_email").css("color", 'green');
            $("#feedback_email").css("display", '');
             newObject.innerHTML = "";
            }
           else {
           $("#feedback_email").attr("class", 'glyphicon glyphicon-remove col-md-1');
            $("#feedback_email").css("color", 'red');
            $("#feedback_email").css("display", '');
            newObject.innerHTML = "邮箱格式错误！";
           }

        });
  }
  var newObject3= document.createElement("p");
           newObject3.id = "tip3";
           newObject3.innerHTML = "";
           newObject3.align = "center";
           newObject3.setAttribute("style", "font-size:15px;color:red;margin-top:5px;");
           newObject3.className = "col-md-3";
           $("#feedback_birthday").after(newObject3);

function check_birthday(v){
        $(function() {

           if(isNULL(v))
           { $("#feedback_birthday").attr("class", 'glyphicon glyphicon-remove col-md-1');
             $("#feedback_birthday").css("color", 'red');
             $("#feedback_birthday").css("display", '');
             newObject3.innerHTML = "请输入您的生日！";
            }
            else if(!(v.match(/^(\d{4})(\/)(\d{2})(\/)(\d{2})$/)))
            {$("#feedback_birthday").attr("class", 'glyphicon glyphicon-remove col-md-1');
             $("#feedback_birthday").css("color", 'red');
             $("#feedback_birthday").css("display", '');
             newObject3.innerHTML = "日期格式不正确(XXXX/XX/XX)";}
            else
            { $("#feedback_birthday").attr("class", 'glyphicon glyphicon-ok col-md-1');
            $("#feedback_birthday").css("color", 'green');
            $("#feedback_birthday").css("display", '');
            newObject3.innerHTML = "";}


        });
        }
        var newObject4 = document.createElement("p");
           newObject4.id = "tip4";
           newObject4.innerHTML = "";
           newObject4.align = "center";
           newObject4.setAttribute("style", "font-size:15px;color:red;margin-top:5px;");
           newObject4.className = "col-md-3";
           $("#feedback_phone").after(newObject4);

function check_phone(v){
        $(function() {

           if(isNULL(v))
           { $("#feedback_phone").attr("class", 'glyphicon glyphicon-remove col-md-1');
             $("#feedback_phone").css("color", 'red');
             $("#feedback_phone").css("display", '');
             newObject4.innerHTML = "请输入您的电话！";
            }
            else  if(!(/^1[3456789]\d{9}$/.test(v)))
            {  $("#feedback_phone").attr("class", 'glyphicon glyphicon-remove col-md-1');
             $("#feedback_phone").css("color", 'red');
             $("#feedback_phone").css("display", '');
             newObject4.innerHTML = "输入的手机号码格式有误！";}
            else
            { $("#feedback_phone").attr("class", 'glyphicon glyphicon-ok col-md-1');
            $("#feedback_phone").css("color", 'green');
            $("#feedback_phone").css("display", '');
            newObject4.innerHTML = "";}

        });
        }
</script>
<script type="text/javascript" src="{% static 'js/laydate/laydate.js' %}"></script>
<script type="text/javascript">
//执行一个laydate实例
laydate.render({
  elem: '#id_birth' //指定元素
  ,format: 'yyyy/MM/dd'
  ,done: function(value, date, endDate){
    console.log(value); //得到日期生成的值，如：2017-08-18
    console.log(date); //得到日期时间对象：{year: 2017, month: 8, date: 18, hours: 0, minutes: 0, seconds: 0}
    console.log(endDate); //得结束的日期时间对象，开启范围选择（range: true）才会返回。对象成员同上。
    }
   ,isInitValue: false
   ,isInitValue: false
});
</script>

{% endblock %}