{% extends "article/base.html" %}
{% load staticfiles %}
{% block title %}课程详情{% endblock %}
{% block content %}
<div>
    <div class="text-center">
        <h1>{{lesson.title}}</h1>
        <p>讲师：{{lesson.user.username}}</p>
    </div>
    <div >
        {% if lesson.video %}
        <video id="myVideo" controlslist="nodownload" src="{{lesson.video.url}}" controls="controls" height="800px" class="text-center"></video>
        {% else %}
        <p class="text-center">没有课程视频。</p>
        {% endif%}
    </div>
    <div>
        {% if lesson.description %}
        <p>{{lesson.description}}</p>
        {% endif %}
    </div>
    <div>
        {% if lesson.attach %}
        <p><a href="{{lesson.attach.url}}">{{lesson.attach.name|cut:"courses/user_"}}</a> </p>
        {% endif %}
    </div>
</div>
<script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
<script type="text/javascript">

 $(document).ready(function(){

     $('#myVideo').bind('contextmenu',function() { return false; });

});

</script>
{% endblock %}